<!-- <img src="https://i.ibb.co/JvFFwWy/profile.webp" alt="" /> -->
<% layout('layouts/boilerplate') %>
<div class="col-8 offset-2 aboutme-container">
  <div class="aboutme-image-container">
    <img src="https://i.ibb.co/JvFFwWy/profile.webp" alt="" />
  </div>
  <div class="aboutme-text-container">
    <h1>About Me</h1>
    <hr />
    <p>
      Greetings, my name is Krisha Timalsina. I am originally from Hetauda,
      Nepal. I am a passonate author. I enjoy telling wonderful stories that
      come to mind. I've been writing since I was a child. Now that I am
      familier with the internet, I'd want to share some of my tales with the
      rest of the world.
      <br />
      <br />
      <strong> Thank you for visiting by!! </strong>
      <br />
      <strong> Have a nice day! </strong>
    </p>
  </div>
</div>
